name: Latest Blog Posts

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          # 예린님의 티스토리 RSS 주소
          feed_list: "https://attention-is-all-i-need.tistory.com/rss"
          # 406 에러 방지를 위한 변장 도구 추가!
          user_agent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
          # 한 번에 가져올 글 개수 (원하는 대로 수정 가능해요)
          max_post_count: 5
